#social-accounts .accounts .account ul li{
    list-style-type: none;
    padding: 3px;
    display: flex;
    align-items: left;
    justify-content: left;
}
#social-accounts .accounts .account ul li:hover{
    background:rgb(238, 238, 238);
}
#social-accounts .accounts .account ul li a{
    font-size: 18px;
}
#social-accounts .accounts .account ul li a .face{
    color: rgb(83, 83, 255);
}
#social-accounts .accounts .account ul li a .insta{
    color: rgb(134, 6, 91);
}
#social-accounts .accounts .account ul li a .twit{
    color: rgb(128, 172, 255);
}
#social-accounts .accounts .account ul li a .linkedin{
    color: rgb(87, 146, 255);
}
#social-accounts .accounts .account ul li a .telegram{
    color: rgb(87, 146, 255);
}
#social-accounts .accounts .account ul li a .whatsapp{
    color: rgb(21, 136, 27);
}
#social-accounts .accounts .account ul li a span{
    margin-left: 2px;
    color: rgb(48, 48, 48);
}

#social-accounts .accounts .account ul li a:hover span{
    color: rgb(83, 83, 255);
}

